.ks-form-control .css-1rhbuit-multiValue {
    background-color: var(--main-color) !important;
    color: #ffffff !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

.ks-form-control .css-1rhbuit-multiValue .css-12jo7m5 {
    color: #ffffff !important;
}